.navbar-inverse {
    background-color: white !important;
    border-color: transparent !important;
    height:100px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav>li>a {
    color:rgb(56,125,66) !important;
}
.navbar
{
	margin-bottom: 0px;
}
.kl
{
    height:90px;
}
.navbar-brand img {
    height: 88px;
    width: 60%;
    margin-top: -9px;
}

.navbar-header {
    height: 100px;
    width:40%; 
}
.navbar-inverse .navbar-nav>li {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Mali',cursive;
    font-weight: bold;
    margin-top: 26px;
    overflow:hidden;
    position:relative;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
	color:rgb(171,201,54) !important;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li:hover::before
{
left:30%;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li::before
{
content:"";
position:absolute;
left:-100%;
bottom:0%;
background-color: rgb(171,201,54);
height:4px;
width:55px;
transition:0.4s ease-in-out;

}
.one{
	margin-top: 0px;
	width:100%;
	height:550px;
	
}
.one img
{
	width:100%;
	height:550px;
	
}
.overlay {
	margin-top: 100px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
   background-color: rgba(255,255,255,0.6);
     overflow: hidden;
  width: 100%;
  height:100%;
  transition: .5s ease;
}
#banner
{
  width:100%;
   height:380px;
}
.text {
  color:rgb(56,125,66);
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family:Calibri;
}
.carousel-inner:hover .overlay {
  bottom: 0;
  height: 100%;
}
.btn2:hover
{
    transform: scale(1.1);
}
.btn1:hover
{
    transform: scale(1.1);
}
.btn2 a
{
font-family: 'Mali',cursive;           
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.text a
{
    font-family: 'Mali',cursive;           
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.text a:hover
{
font-family: 'Mali',cursive;	       
	color:white;
	text-decoration: none;
	font-weight:bold;
}
.p
{
    font-family: 'Mali', cursive;
    font-size: 38px;
    margin-top: 30px;
    color:rgb(56,125,66);
    font-weight: bold;
    text-align: center;
}
.p:hover
{
	/*color: rgb(171,201,54);*/
    color:black;
	transform: scale(1.2);
}
.p1
{
    font-family:Constantia;
    font-size: 22px;
    color:black;
}
.man
{
	width:98%;
	height:100%;
	display: flex;
	justify-content: space-between;
}
.man1
{
	height:100%;
	width:33%;
}
.man1 img {
    margin-top: 40px;
    margin-bottom: 10px;
    height: 100%;
    width: 64%;
    
}
.man1 p {
    font-weight: bold;
    text-align: center;
    color: #ee4a25;
    font-family: 'Mali', cursive;
}
.man1 p:hover
{
	color: #952990;
	transform: scale(1.1);
}
.work img {
    border-radius: 50%;
    width: 70%;
}
.work p
{
    text-align: center;
    font-family: 'Arvo', serif;
    color:rgb(171,201,54);
    font-size:28px;
    font-weight:bold;
}
.trial
{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size:40px; 
}
.p5
{
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #952990;
}
.p4
{
    
    margin-bottom: 50px;
  font-family: 'Mali', cursive;
    font-size: 50px;
    color: rgb(56,125,66);
    font-weight: bold;
    text-align: center;
}
.footer
{
        font-family: 'Open Sans', sans-serif;
            background-color:rgb(56,125,66);
            color:white;
            font-size: 25px;
            padding:20px;
}
.st
{
     box-shadow: 0px 0px 5px green;
    border-radius: 20px;
    height: 250px;
    padding: 10px;
}