.navbar-inverse {
    background-color: white !important;
    border-color: transparent !important;
    height:100px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav>li>a {
    color:rgb(56,125,66) !important;
}
.navbar
{
	margin-bottom: 0px;
}
.kl
{
    height:90px;
}
.navbar-brand img {
    height: 88px;
    width: 60%;
    margin-top: -9px;
}

.navbar-header {
    height: 100px;
    width:40%; 
}
.navbar-inverse .navbar-nav>li {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Mali',cursive;
    font-weight: bold;
    margin-top: 26px;
    overflow:hidden;
    position:relative;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
	color:rgb(171,201,54) !important;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li:hover::before
{
left:30%;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li::before
{
content:"";
position:absolute;
left:-100%;
bottom:0%;
background-color: rgb(171,201,54);
height:4px;
width:55px;
transition:0.4s ease-in-out;
}
.overlay {
    margin-top: 100px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
   /*background-color: rgba(255,255,255,0.8);*/
   background:#000000a8;
     overflow: hidden;
  width: 100%;
  height:100%;
  transition: .5s ease;
}
.text {
  /*color:rgb(56,125,66);*/
  color:white;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family:Calibri;
}
.carousel-inner:hover .overlay {
  bottom: 0;
  height: 100%;
}
.btn
{
    border-radius: 10px !important;
    font-size: 30px !important;
    border:1px solid white !important;
}
#joke
{
    color:whitesmoke;
    font-size: 30px;
    font-family: 'Mali',Cursive;
}

#joke1
{
    color:whitesmoke;
    font-size: 30px;
    font-family: 'Mali',Cursive;
}
.footer
{
        font-family: 'Open Sans', sans-serif;
            background-color:rgb(56,125,66);
            color:white;
            font-size: 25px;
            padding:20px;
}