@media only screen and (max-width: 600px)
{
button.navbar-toggle {
    background-color: black;
    left: 320px;
    top: 24px;
}
.search-container img {
    margin-left: 55px;
    margin-right: -8px;
    border-radius: 20px;
    height: 40px;
    width: 42px;
}
#myImage {
    border-radius: 50%;
    width: 45%;
    height: 205px;
    margin: 10px;
}
topnav input[type=text] {
    width: 49%;
    padding: 10px;
    font-size: 17px;
    border: none;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
}
.navbar-brand img {
    height: 81px;
    width: 130%;
   
    margin-top: -61px;
}
.carousel-inner img {
    vertical-align: middle;
   
}

.navbar-nav {
     margin: -1.5px -15px !important;
    background: white;
    z-index: 1;
    width: 102%;
    position: absolute;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f5efef;
    width: 100%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color: white !important; 
}
.text {
    color:rgb(56,125,66);
    position: absolute;
    top: 51%;
    left: 53%;
    transform: translate(-56%, -54%);
    font-family: 'Mali',cursive;
}

.text h2 {
    font-size: 15px;
    font-weight: bold;
}
.overlay {

    background-color: rgba(255,255,255,0.55);
}
.p1
{
    font-size: 12px;
}
.p {
    font-family: 'Mali', cursive;
    font-size: 25px;
    margin-top: 10px;
    color:rgb(56,125,66);
    font-weight: bold;
    text-align: center;
}
#banner
{
  width:100%;
   height:290px;
}
.man1 img
{
    margin-top: 20px;
}
.one {
    margin-top: 20px;
    height: 300px;

}
.p2 {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}
.p3
{
    font-size:12px;
}
.p4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.price h5
{
    font-size:20px;
}
.price h2
{
    font-size:30px;
}
.price h3
{
    font-size:20px;
}
.work img {
    width: 25%;
    margin-bottom: 20px;
    margin-top: 22px;
}
.p5
{
    margin-top: 30px;
    font-size:30px;
}
.p6
{
    font-size:25px;
}
.social1 img {
    width: 23%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.social
{
    height:220px;
}
.footer {
    padding-top: 4px;
    margin-top: 0px;
}
.footer p
{
    font-size:12px;
}
}
/*@media only screen and (max-width: 768px)
{
.navbar-header {
    float: left;
width:18%;
}
.navbar-brand img {
    width: 100%;
}
.text
{
    left:25%;
}
.man1 p
{
    font-size: 15px;
}
.one
{
    height:600px;
}
.p2
{
    margin-top: 50px;
    font-size: 45px;
}
.p3
{
    font-size: 18px;
}
.price
{
    height:375px;
}
.price p
{
    font-size: 20px;
}
.price button
{
    font-size: 25px;
}
.price h5
{
    font-size: 30px;
}
.work img
{
    width:15%;
}
.work
{
    height: 250px;
}
.work p
{
    font-size: 22px;
}
.p7
{
    font-size: 18px;
}
.social
{
    height: 300px;
}
.social1 img {
    width: 20%;
    margin-top: 40px;
}
.footer {
   
    padding-top: 9px;
   
    font-size: 19px;
}
}*/