
.navbar-inverse {
    background-color: white !important;
    border-color: transparent !important;
    height:100px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav>li>a {
    color:rgb(56,125,66) !important;
}
.navbar
{
	margin-bottom: 0px;
}
.kl
{
    height:150px;
}
.navbar-brand img {
    height: 88px;
    width: 60%;
    margin-top: -9px;
}

.navbar-header {
    height: 100px;
    width:40%; 
}
.navbar-inverse .navbar-nav>li {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Mali',cursive;
    font-weight: bold;
    margin-top: 26px;
    overflow:hidden;
    position:relative;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
	color:rgb(171,201,54) !important;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li:hover::before
{
left:30%;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li::before
{
content:"";
position:absolute;
left:-100%;
bottom:0%;
background-color: rgb(171,201,54);
height:4px;
width:55px;
transition:0.4s ease-in-out;

}
.topnav {
    height: 100px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 10px;
}
.topnav input[type=text] {
    width: 65%;
  padding: 10px;
  margin-top: 30px;
  font-size: 17px;
  border: none;
}
.search-container img
{
  margin-left: 320px;
  margin-right: -8px;
  border-radius:20px;
  position: relative;
  z-index: 1;
}
.topnav .search-container button {
  padding: 10px 10px;
  margin-left: -3px !important;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.myImage
{
  height:290px;
}
.book
{
  margin:20px;
  width: 60%;
  height: 90%;
  border-radius:15px;
}

.round
{
  background:whitesmoke;
  margin:70px !important;
  border-radius:30px;
  height: 600px;
  box-shadow: 0px 0px 10px black;
}
.round p
{
  font-size: 25px;
  color:black !important;
  font-family: Calibri;
}
.myClass
{
  font-family:Calibri;
  color:black;
  height:20px;
  font-size: 30px;
  font-weight: bold;
}